@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/fonts' as *;

.socialSection {
  padding: $spacing-2xl 0;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    padding: $spacing-xl 0;
    min-height: 60vh;
  }
}

.socialContent {
  text-align: center;
}

.socialTitle {
  @include font-atmosphere($font-size-5xl);
  margin: 0 0 $spacing-2xl 0;
  color: $color-text;
  text-align: center;

  @include mobile {
    margin: 0 0 $spacing-xl 0;
    font-size: $font-size-3xl;
  }
}

.socialGrid {
  @include grid-layout(3, 2, 2, 3);
}

.socialItem {
  @include grid-item-base(180px, 140px);
  @include grid-item-hover;
  @include content-transition;

  .defaultContent {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .hoverContent {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-sm;
    padding: $spacing-lg $spacing-lg;
    width: 100%;
    height: 100%;

    @include mobile {
      padding: $spacing-md;
      gap: $spacing-xs;
    }
  }

  &:hover,
  &:focus-within {
    z-index: 20;
  }
}


// Body in default content (centers the icon)
.itemBody {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

// Platform name in corner - left top
.platformNameCorner {
  @include corner-element;
  top: $spacing-sm;
  left: $spacing-sm;
}

// Arrow icon in corner - right top
.arrowIcon {
  @include corner-arrow;
  top: $spacing-sm;
  right: $spacing-sm;
}

// Visit hint in hover content
.visitHint {
  @include font-information-caption;
  overflow-wrap: anywhere;
  text-align: center;
  margin: $spacing-lg 0;

  @include mobile {
    font-size: $font-size-xs;
    margin: $spacing-sm 0;
  }
}


.textContainer {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    width: 56px;
    height: 56px;
  }
}

.textContainerSmall {
  min-width: 48px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 $spacing-xs;

  @include mobile {
    min-width: 40px;
    height: 18px;
    padding: 0 $spacing-xs;
  }
}

.platformText {
  @include font-anchor-card;
  color: $color-text;

  @include mobile {
    font-size: $font-size-sm;
  }
}

.platformTextSmall {
  @include font-information-label;
  color: $color-text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
